
{% extends 'watchfilm/base.html' %}
{% load staticfiles %}
{% load paginator %}
{% block body %}
    <div class="contents">
    <div class="items">
        <h4>当前电影分类：{{ current_cat }}</h4>

        {% if movie_list.count %}
            {% paginator movie_list 8 %}
            {% for item in item_list %}
        <div class="movie_item">

            <div class="image">
                <img width=90px src="/static/image/{{ item.img_url|imgurl }}.jpg"/>
            </div>
            <div class="info">

                <p><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></p>
                <p>{{ item.stamp_time|date:'Y M d' }}/{{ item.country }}/{% for actor in item.actors %}{{ actor }}、{% endfor %}/{% for type in item.types %}{{ type }}、{% endfor %}/{{ item.runtime }}/{{ item.rate }}</p>
                <p>{{ item.content }}</p>
            </div>
            <div class="handles">
                <button class="seen btn btn-link" name="{{ item|getid:'_id' }}" type="button" >
                    <span class="glyphicon glyphicon-ok-sign">看过了</span></button>
                <button  class="add_to_list btn btn-link" name="{{ item|getid:'_id' }}" type="button" >
                    <span class="glyphicon glyphicon-plus-sign">观影单</span></button>
            </div>
            <div class="clear"></div>
        </div>
        {% endfor %}
        {% else %}
            <p>当前查询没有符合的结果，<a href="{% url 'index' %}">查看所有电影</a> </p>
        {% endif %}

        {% include 'watchfilm/paginator.html' %}

    </div>
    <div class="paginator">

    </div>
    </div>


{% endblock %}
{% block sidebar %}
    <h4>按类型筛选</h4>
    <div class="side">
    {% for type in types %}
        <a href="/watchfilm/?type={{ type }}"><span class="type_span">{{ type }}</span></a>
    {% endfor %}

    </div>
{% endblock %}
