{% extends 'watchfilm/base.html' %}
{% block body %}
    <div class="contents">
    <div class="items">
        <h4>我创建的观影备忘录</h4>
        {% for movie in movie_results %}
            <div class="movie_item">
            <a href="{{ movie.url }}" target="_blank"><span>{{ movie.title }}</span></a>
            <span>{{ movie.content }}</span>
            </div>
        {% endfor %}
        {% for useradd in user_add_results %}
            <div class="movie_item">
            <a href="{{ useradd.url }}" target="_blank"><span>{{ useradd.name }}</span></a>
            <span>{{ useradd.describe }}</span>
            </div>
        {% endfor %}

        <form action="{% url 'mylist' %}" method="post">
            <p>提交影单</p>
            {% csrf_token %}
            {{ UserAddListForm.as_p }}
            <input type="submit" value="添加">
        </form>

    </div>
    </div>
{% endblock %}